workflow-lead-prospector.json
{
  "name": "Bookou - Lead Prospector Completo",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger",
      "name": "Iniciar Prospecção",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://scraper:3099/api/pipeline",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"cities\": [\n    { \"city\": \"Goiânia\", \"state\": \"GO\" }\n  ],\n  \"minReviews\": 5,\n  \"radiusKm\": 5\n}",
        "options": {
          "timeout": 600000
        }
      },
      "id": "pipeline",
      "name": "Pipeline Completo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "leads",
        "options": {}
      },
      "id": "split",
      "name": "Separar Leads",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [480, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "has-contact",
              "leftValue": "={{ $json.whatsapp || $json.telefone }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEquals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-contact",
      "name": "Tem Contato?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "operation": "toFile",
        "fileFormat": "csv",
        "options": { "fileName": "leads-com-contato.csv" }
      },
      "id": "csv",
      "name": "Exportar CSV",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [920, 180]
    },
    {
      "parameters": {
        "jsCode": "// Agrupa todos os leads do pipeline em um único array para o send-batch\nconst leads = $input.all().map(item => item.json);\nreturn [{ json: { leads } }];"
      },
      "id": "aggregate-leads",
      "name": "Agrupar Leads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [920, 420]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://scraper:3099/api/whatsapp/send-batch",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { leads: $json.leads, onlyQuente: true, maxSends: 2, delayMs: 20000 } }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "send-whatsapp",
      "name": "Enviar WhatsApp (Lote)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1140, 420]
    },
    {
      "parameters": {
        "jsCode": "const leads = $input.all();\nconst total = leads.length;\nconst quentes = leads.filter(l => l.json.qualification?.classificacao === 'QUENTE').length;\nconst mornos = leads.filter(l => l.json.qualification?.classificacao === 'MORNO').length;\nconst comWa = leads.filter(l => l.json.whatsapp).length;\nconst aiAnalyzed = leads.filter(l => l.json.qualification?.ai_analyzed).length;\n\nreturn [{\n  json: {\n    mensagem: `📊 Prospecção finalizada!\\n\\nTotal: ${total} leads com contato\\n🔥 Quentes: ${quentes}\\n🟡 Mornos: ${mornos}\\n📱 Com WhatsApp: ${comWa}\\n🤖 Qualificados por IA: ${aiAnalyzed}\\n\\nExcel exportado em /exports/`\n  }\n}];"
      },
      "id": "summary",
      "name": "Resumo Final",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [920, 300]
    }
  ],
  "connections": {
    "Iniciar Prospecção": {
      "main": [[{ "node": "Pipeline Completo", "type": "main", "index": 0 }]]
    },
    "Pipeline Completo": {
      "main": [[{ "node": "Separar Leads", "type": "main", "index": 0 }]]
    },
    "Separar Leads": {
      "main": [[{ "node": "Tem Contato?", "type": "main", "index": 0 }]]
    },
    "Tem Contato?": {
      "main": [
        [
          { "node": "Exportar CSV", "type": "main", "index": 0 },
          { "node": "Resumo Final", "type": "main", "index": 0 },
          { "node": "Agrupar Leads", "type": "main", "index": 0 }
        ]
      ]
    },
    "Agrupar Leads": {
      "main": [[{ "node": "Enviar WhatsApp (Lote)", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" }
}
